body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  font-size: .3rem !important; }

.content-box {
  width: 100%;
  height: auto;
  background: url(../img/zhu.png);
  display: flex;
  flex-direction: column;
  background-size: 100% auto; }

.header {
  width: 100%;
  line-height: .8rem;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #fff;
  color: #fff; }
  .header span {
    position: absolute;
    left: .1rem;
    font-size: .3rem; }
  .header p {
    font-weight: 2px; }

.content {
  flex: 1;
  overflow: hidden; }
  .content .title {
    text-align: center;
    color: #fff;
    margin-top: .6rem; }
    .content .title h3 {
      font-size: .6rem; }
    .content .title p {
      font-size: .4rem; }
  .content .share {
    width: 86%;
    height: 5.3rem;
    margin-left: 7%;
    background: url(../img/bg1.png);
    background-size: 100% auto;
    display: flex;
    flex-direction: column; }
    .content .share .share-header {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .content .share .share-header p {
        font-size: .4rem;
        font-weight: bold; }
      .content .share .share-header h3 {
        font-size: .8rem; }
    .content .share .share-footer {
      flex: 1; }
      .content .share .share-footer p {
        font-size: .4rem;
        font-weight: bold;
        text-align: center;
        margin-top: .2rem; }
      .content .share .share-footer ul {
        display: flex;
        width: 80%;
        margin-left: 10%;
        margin-top: .3rem; }
        .content .share .share-footer ul li {
          flex: 1;
          text-align: center; }
          .content .share .share-footer ul li img {
            width: 1rem;
            height: auto; }
  .content .hint {
    padding: .2rem 0;
    text-align: center;
    padding-bottom: .4rem; }
    .content .hint h3 {
      display: inline-block;
      font-size: .3rem;
      color: #fff; }
    .content .hint h3:nth-child(1) {
      color: #f95923; }
  .content .receive {
    width: 80%;
    margin-left: 10%;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 1px 1px 30px rgba(84, 84, 84, 0.65);
    margin-bottom: 1rem; }
    .content .receive .receive-box {
      display: flex;
      padding: .2rem 0; }
      .content .receive .receive-box ul {
        flex: 1;
        text-align: center; }
        .content .receive .receive-box ul li {
          line-height: .8rem;
          font-size: .3rem; }
      .content .receive .receive-box ul:nth-child(1) {
        border-right: 1px solid #cccccc; }
  .content .login {
    width: 80%;
    margin-left: 10%;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 1px 1px 30px rgba(84, 84, 84, 0.65);
    margin-bottom: 1rem;
    position: relative; }
    .content .login .login-title {
      width: 40%;
      height: 1.3rem;
      background: url(../img/titlebg.png);
      background-size: 100% 100%;
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      line-height: 1.3rem;
      text-align: center; }
      .content .login .login-title h3 {
        color: #fff;
        font-size: .4rem; }
    .content .login h2 {
      padding-top: .7rem;
      padding-left: .2rem;
      font-size: .4rem; }
    .content .login .newuser p,
    .content .login .olduser p {
      font-size: .4rem;
      color: #666666;
      padding: .2rem;
      padding-left: .2rem; }
    .content .login .newuser ul,
    .content .login .olduser ul {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content .login .newuser ul li,
      .content .login .olduser ul li {
        display: inline-block;
        padding: 0 .3rem; }
        .content .login .newuser ul li img,
        .content .login .olduser ul li img {
          width: .8rem; }
    .content .login .olduser {
      padding-bottom: .2rem; }
  .content .online {
    width: 80%;
    margin-left: 10%;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 1px 1px 30px rgba(84, 84, 84, 0.65);
    margin-bottom: 1rem;
    position: relative; }
    .content .online .newuser p,
    .content .online .olduser p {
      font-size: .4rem;
      color: #666666;
      padding: .2rem;
      padding-left: .2rem; }
    .content .online .newuser .message,
    .content .online .olduser .message {
      width: 96%;
      margin-left: 2%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .content .online .newuser .message dl,
      .content .online .olduser .message dl {
        width: 25%;
        padding: .1rem;
        margin-top: .1rem;
        box-sizing: border-box; }
        .content .online .newuser .message dl dt,
        .content .online .olduser .message dl dt {
          text-align: center;
          margin-bottom: .1rem; }
        .content .online .newuser .message dl dd,
        .content .online .olduser .message dl dd {
          border: 1px solid #cccccc;
          text-align: center;
          border-radius: .1rem; }
          .content .online .newuser .message dl dd img,
          .content .online .olduser .message dl dd img {
            margin-top: .1rem; }
    .content .online .olduser {
      padding-bottom: .2rem; }
    .content .online h2 {
      padding-top: .7rem;
      padding-left: .2rem;
      font-size: .4rem; }
    .content .online .online-title {
      width: 40%;
      height: 1.3rem;
      background: url(../img/titlebg.png);
      background-size: 100% 100%;
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      line-height: 1.3rem;
      text-align: center; }
      .content .online .online-title h3 {
        color: #fff;
        font-size: .4rem; }
  .content .bonus {
    width: 80%;
    margin-left: 10%;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 1px 1px 30px rgba(84, 84, 84, 0.65);
    margin-bottom: 1rem;
    position: relative; }
    .content .bonus .bonus-title {
      width: 40%;
      height: 1.3rem;
      background: url(../img/titlebg.png);
      background-size: 100% 100%;
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      line-height: 1.3rem;
      text-align: center; }
      .content .bonus .bonus-title h3 {
        color: #fff;
        font-size: .4rem; }
    .content .bonus h2 {
      padding-top: .7rem;
      padding-left: .2rem;
      font-size: .4rem; }
    .content .bonus p {
      width: 92%;
      margin-left: 4%;
      font-size: .3rem;
      padding-bottom: .2rem;
      color: #666666; }
  .content .description {
    width: 80%;
    margin-left: 10%;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 1px 1px 30px rgba(84, 84, 84, 0.65);
    margin-bottom: 2rem;
    position: relative; }
    .content .description .description-title {
      width: 40%;
      height: 1.3rem;
      background: url(../img/titlebg.png);
      background-size: 100% 100%;
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      line-height: 1.3rem;
      text-align: center; }
      .content .description .description-title h3 {
        color: #fff;
        font-size: .4rem; }
    .content .description h2 {
      padding-top: .7rem;
      padding-left: .2rem;
      font-size: .4rem; }
    .content .description ul {
      width: 92%;
      margin-left: 4%;
      font-size: .3rem;
      padding-bottom: .2rem; }
      .content .description ul li {
        padding: .1rem 0;
        color: #666666; }

/*# sourceMappingURL=style.css.map */
